[submodule "quizz-juniors"]
	path = quizz-juniors
	url = https://github.com/adoniadeutschland/quizz-juniors
[submodule "memo-juniors"]
	path = memo-juniors
	url = https://github.com/adoniadeutschland/memo-juniors
[submodule "bingo-juniors"]
	path = bingo-juniors
	url = https://github.com/adoniadeutschland/bingo-juniors
[submodule "puzzle-juniors"]
	path = puzzle-juniors
	url = https://github.com/adoniadeutschland/puzzle-juniors
